import(Rcpp)

import(methods)

import(data.table)

importFrom(stats, model.matrix.lm)

useDynLib(miceFast,.registration=TRUE)

#exportPattern("^[[:alpha:]]+")



export(fill_NA)

S3method(fill_NA, data.frame)

S3method(fill_NA, matrix)



export(fill_NA_N)

S3method(fill_NA_N, data.frame)

S3method(fill_NA_N, matrix)



export(VIF)

S3method(VIF, data.frame)

S3method(VIF,matrix)



export(corrData)

export(miceFast)
